.mg-button-container {
    cursor: pointer;
    position: sticky;
    bottom: 10px;
    margin-right: 70vh;
    background-color: #743DE2;
    transition: 0.4s;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.mg-button-container:hover {
    background-color: #9574d8;
}

.mg-img {
    width: 64px;
}